*{
  margin: 0;
  padding: 0;
box-sizing: border-box;
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}
.header{
  display: flex;
justify-content: center;


}

.form{
  height: 460px;
  width: 400px;  border: 2px solid black;
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 2px black;
  /* align-items: center; */
  /* display: flex; */
}
a {
  text-decoration: none;
  color: black;
  margin-left: 30px;
  font-weight: bold;
  font-size: 24px;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.item label{
  font-size: 18px;
  font-weight: bold;
}
.item input{
  height: 20px;
  width: 190px;
}
#adds{
  height: 30px;
  width: 60px;
  background-color: rgb(76, 132, 235);
  border: none;
  color: white;
  border-radius: 8px;
  /* margin-top: 20px; */
}